[submodule "ChibiOS"]
	path = ChibiOS
	url = ../../ChibiOS/ChibiOS.git
[submodule "agg-kicad"]
	path = agg-kicad
	url = ../../adamgreig/agg-kicad.git
[submodule "gen-board.h"]
	path = gen-board.h
	url = ../../adamgreig/gen-board.h.git
